<div class="content pure-u-1">
	<div class="pure-g-r content-ribbon">
		<div class="pure-u-1-3" {{bindAttr class="editing:editing"}}>
			<div class="l-box receipt">
				<h4 class="content-subhead">Current Order</h4><br/><br/>

				<button {{action editOrder}} class="pure-button pure-button-xsmall">Edit</button>
				<dl class="line-items">
					{{#each lineItem in lineItems}}
						{{partial 'lineItem'}}
					{{/each}}
					{{#if customLineItem}}
						{{partial "orders/add_custom_form"}}
					{{else}}
						<a href="#" {{action setUpCustomLineItem target="controller"}} class='pure-button'>Add Line Item</a>
					{{/if}}
					<dd class="sub text-right">
						Sub Total ${{money cents}}
					</dd>
					<dd class="sub text-right">
						Tax: ${{money tax}}</br>
					</dd>
			    <dt id="total"><h3>Total <span>${{money total}}</span></h3></dt>
				</dl>
				<div class="text-center">
					<button {{action payment}} class="pure-button"><i class="icon-shopping-cart icon-large"></i> checkout</button>
				</div>

      </div>
	  </div>

    <div class="pure-u-2-3">
      <div class="l-box">
      	<div class="pure-menu pure-menu-open pure-menu-horizontal">
			    <ul class="categories">
			    	{{render 'categories'}}
			    </ul>
				</div>
				<div class="products">
					{{render 'category'}}
					{{outlet}}
				</div>
      </div>
    </div>
</div>

