<div class="splash pure-u-1">
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="l-box splash-text">
        <h1 class="splash-head">
          Welcome to the Open POS
        </h1>

        <h2 class="splash-subhead">
          <strong>All Your Orders</strong><br/>
          <em>Total Orders:</em> {{controllers.orders.length}}<br/>
          <em>Total Income:</em> ${{money controllers.orders.totalOrders}}
        </h2>

        <p>
          {{#linkTo orders.new class='pure-button primary-button'}}Start a New Order{{/linkTo}}
        </p>
      </div>
    </div>
  </div>
</div>
