<div class="content pure-g-r">
  <div class="header pure-u-1">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      {{#linkTo orders class='pure-menu-heading'}}Open Pos{{/linkTo}}

      <ul>
        <li class="active">{{#linkTo orders.new}}New Order{{/linkTo}}</li>
      </ul>
    </div>
  </div>

  <div class="pure-g-r main-body">
    <div class="pure-u-1">
      {{outlet}}
    </div>
  </div>

  <div class="footer pure-u-1">
    built with &lt;3 using <a href="https://github.com/jnettome/open-pos">open-pos</a>.
  </div>
</div>
